*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color:#202F37;
    overflow-x: hidden;
}


/*-- Login Page --*/
.logincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
   
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a{
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}


.header{
    min-height: 100vh;
    width: 100%;
}

/*--  Navbar --*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    overflow: hidden;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:#FFC92F;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color:red;
    display: block;
    margin: block;
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the nav.nav-links on small screens */
.nav-links .icon {
    display: none;
}





.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h2, h3{
    font-size: 35px;
    color: black;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.txt_center{
    display: flex;
    justify-content: center;
}

/*-- Home Page --*/
.home-post, .seer-map {
    margin: auto;
    max-width: 850px; /* changed from width to max-width */
    flex-basis: 30%;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px 50px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.blog-post p{
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-post img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.plot_img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .home-post {
        padding: 10px;
    }

    .footer {
        padding: 10px;
    }
}



.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #172933;
    color: white;
    text-align: center;
    border-top: 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
}
  
select:focus{
    outline:none;
}


<!----- About Us page ----->
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}

.about {
    flex-basis: 50%;
    padding: 30px 2px;
    background-color: white;
}

.about img {
    width: 100%;
}

.about h1 {
    padding-top: 0;
}

.about p {
    padding: 15px 0 25px;
}

@media screen and (max-width: 600px) {
    .about {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 768px) {
    .about p {
        font-size: 18px; /* slightly larger font size for medium screens */
    }
}

@media screen and (min-width: 1024px) {
    .about p {
        font-size: 20px; /* even larger font size for large screens */
    }
}