body{
    margin: 0;
    background-color:#202F37;
    overflow-x: hidden;
    text-align: center;
}

.topnav {
    background-color: #172933; /* Set the background color */
    overflow: hidden; /* Hide overflowing content */
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid aliceblue;
  }

  .topnav a {
    float: left; /* Float the navigation links to the left */
    color: #f2f2f2; /* Set the text color */
    text-align: center; /* Center-align the text */
    padding: 20px 28px; /* Add padding around the links */
    text-decoration: none; /* Remove underline from links */
    font-size: 18px;
  }

  .topnav a:hover {
    background-color: #ddd; /* Change the background color on hover */
    color: black; /* Change the text color on hover */
  }

  .topnav a.active {
    background-color: #FFC92F; /* Set the active link's background color */
    color: black; /* Set the active link's text color */
  }

p{
    text-align: center;
    display: block;
    font-size: 20px;
}
p.inset 
{
    border-width: 2px thin;
    border-style: inset;
    border-color:aliceblue;
}
p.outset 
{
    border-style: outset;
    border-color: aliceblue;
}
h2, h3{
    font-size: 35px;
    color: black;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.txt_center{
    display: flex;
    justify-content: center;
}

.blog-post{
    margin: auto;
    width: 850px;
    flex-basis: 30%;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px 50px;
    box-sizing: border-box;
    word-wrap: break-word;
}
.blog-post p{
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border-radius: 5px;
}
@media only screen and (max-width: 900px) {
    .blog-post{
        width: 80%;
    }
    .blog-post p{
        font-size: 2vw;;
    }
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #172933;
    color: white;
    text-align: center;
    border-top: 2px solid;
}

select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
}
  
select:focus{
    outline:none;
}
label{
    font-size: 20px;
    color: #FFC92F;
}